.jumbotron
  .container
    %h1 Hello, Teams!
    %p This is the Brain Stormer, a tool to help teams brain-storm ideas and vote for the best one.
    %p
      %a.btn.btn-primary.btn-lg{href: "/register", role: "button"} Signup &raquo;
