.jumbotron
  .container
    %h1 Hello, Teams!
    %p This is the Brain Stormer, a tool to help you vote for the best idea for your next project.
    %p
      %a.btn.btn-primary.btn-lg{href: "/register", role: "button"} Signup &raquo;
