.modal.fade{id: "errors-modal", tabindex: "-1", role: "dialog", "aria-labelledby": "mySmallModalLabel"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
      .modal-body
        %p.modal-body-content
