.modal.fade.bs-example-modal-sm{id: "errors-modal", tabindex: "-1", role: "dialog", "aria-labelledby": "mySmallModalLabel"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %h4.modal-title
      .modal-body
        %p.modal-body-content
