- unless current_user
  = partial :'partials/jumbotron'

.container
  - if current_user
    %h1= "Welcome #{current_user.fname}"
    %button.btn.btn-success{id: "team", type: "button"} Create a team

    #teams.row
